@font-face {
  font-family: 'SamsungTop';
  src: url('../fonts/samsung/Samsungsans.ttf');
  src: local('SamsungTop'), local('SamsungTop'),
  url('../fonts/samsung/Samsungsans.ttf') format('truetype');
}

.text-font{
  font-family: SamsungTop;
  font-weight: bold;
}

.navbar-brand img{
  width: 250px;
}

nav.navbar{
  padding: 0 30px;
}

#navbarLinks{
  display: block !important;
  position: absolute;
  right: 30px;
}

#navbarLinks li{
  display: inline-block;
  line-height: 0.5;
  padding-left: 15px;
}

#navbarLinks li:nth-child(1), #navbarLinks li:nth-child(2){
  border-right: 4px solid #000000;
  padding-right: 15px;
}

#navbarLinks > ul{
  display: block;
}

#navbarLinks li a{
  font-size: 44px;
  font-weight: bold;
  color: #000000;
  font-family: SamsungTop;
}

#main-page-content > .container-fluid > .row{
  display: flex;
  flex-wrap: wrap;
}

#a-submit{
  color: #000000;
}

#a-submit:hover, #a-submit:focus{
  text-decoration: none;
}

.form-message{
  padding-top: 10px;
  color: #3c68af;
  font-weight: bold;
  font-size: 20px;
}

.form-footer img{
  width: 100px;
  display: inline-block;
  & ~ p{
    display: inline-block;
  }
}

.main-left-part{
  position: relative;
}

.main-left-part .form-footer{
  position: absolute;
  bottom: 0;
}

.main-left-part .form-wrap{
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}

#s-form{
  position: relative;
}

#a-submit{
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
}

.form-footer.second{
  display: none;
}

@media only screen and (max-width: 991px){
  .navbar-brand{
    margin: auto;
  }

  #navbarLinks > ul{
    width: 100%;
    text-align: center;
  }

  #navbarLinks{
    position: initial ;
  }

  #main-page-content > .container-fluid > .row{
    display: block;
  }

  .main-right-part{
    top: 265px;
  }

  .main-left-part{
    top: 120px;
    width: 100%;
    text-align: center;
    padding: 0 !important;
    .form-wrap{
      padding-right: 24px !important;
    }
  }

  #navbarLinks{
    margin-top: 20px;
  }

  nav.navbar{
    border-bottom: 1px solid #000000;
    padding-bottom: 40px !important;
    padding-top: 40px !important;
  }

  #Rectangle_1{
    height: 200% !important;
  }

  .form-footer.second{
    display: block;
    z-index: 10;
    bottom: 110px;
    text-align: center;
    p{
      font-size: 22px;
    }
  }

  .form-footer.first{
    display: none;
  }

}

@media only screen and (max-width: 768px){
  .form-footer.second{
    bottom: 70px;
  }

  .form-wrap.after-click{
    padding-top: 30px;
  }
}

#s-form input:focus{
  box-shadow: none;
  border: 2px solid #000000;
}

@media only screen and (max-width: 600px) {
  #navbarLinks li a{
    font-size: 30px;
  }

  .form-wrap.after-click{
    padding-top: 150px;
  }

  .main-right-part.after-click{
    padding-top: 130px;
  }

  .form-wrap{
    padding-top: 40px;
  }

  .form-footer.second{
    bottom: 30px;
  }

  .main-right-part{
    padding-top: 30px;
  }
}